
  
  .quadro
  {	
      width: 7.6cm;
      height : 6cm;
      background-color:rgb(255, 255, 255);
      border : 5px solid;
      border-color: white;
      border-radius: 15px;
      overflow:hidden;
      font-weight: 650;
  }
  
  .name{
      text-align: left;
      color : rgb(0, 0, 0);
      border-bottom : 2px groove;
      border-color: rgb(0, 0, 0);
      vertical-align:top;
  }
  
  .price{
      text-align: right;
      color : rgb(0, 0, 0);
      vertical-align: bottom;
      border-bottom : 3px solid;
      border-color: rgb(0, 0, 0);
      vertical-align:bottom;
  }
  
.table{
      width : 100%; 
      border-radius: 15px;
      vertical-align: bottom;
      
  }
  
.td{
      border-bottom : 3px solid;
      border-color: rgb(0, 0, 0);
      vertical-align:top;
  }
  
  
  .h3 {
      height: 10px;
      width:auto;
      margin: 20px;
      text-align:center;
      vertical-align:center;
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-weight: 670;
  }
  
  .logo{
      height: 75px;
   }

   .search{
       height: 200px;
       width: 60%;
       background-color: rgb(253, 183, 137);
       overflow: scroll;
       position: fixed;
       
   }